.registerForm {
    width:40%;
    margin-left: 2rem;
}
.validInput {
    color:red;
    padding:7px 10px;
    border-radius: 3px;
    background-color: rgba(255,0,0 , 0);
    visibility: hidden;
    transition: .3s;
    height:2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.errorText {
    visibility: visible;
    background-color: rgba(255,0,0 , .3);
  
}