.friendWrapper {
    width:50%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding:0 25px;
    flex-wrap: wrap;
}
.friend {
    width:200px;
    border:1px solid black;
    border-radius: 5px;
    padding:25px 5px;
}
.friendImg ,.friendImg >img  {
    width: 100%;
}
.friendInfo  {
    display: flex;
    flex-direction: column;
    align-items: center;
}