.App{
  display: flex;
  justify-content: space-between;
  background-image: url(./image/firstBackground.png);
  height: 100%;
  width: 100%;
}
.section1{
  display: flex;
  flex-direction: column;
align-items: center;
  height: 667px;
  width: 100%;
  margin-top: 30px;
}
.section1head{
  display: flex;
  height: 50px;
}
.navbar_nav{
  display: flex;
}
.nav_item{
  list-style: none;
  margin-left: 30px;
}
.nav_link{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.txt1{
  margin-left: 20px;
  color: #14b7ac;
}
.section1text{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 775px;
  padding-top: 143px;
  color: white;
  text-align: center;
}
.btn{
padding:11px 15px;
background-color: transparent;
border: 1px solid #14b7ac;
color: #14b7ac;
margin-top: 20px;
}